# Created by https://www.gitignore.io/api/android
# Edit at https://www.gitignore.io/?templates=android

### Android ###
# Built application files
*.apk
*.ap_
*.aab

build/

# Keystore files
# Uncomment the following lines if you do not want to check your keystore files in.
*.jks
*.keystore

# End of https://www.gitignore.io/api/android

# My List
/keystore.properties
/publish.properties
gha-creds-*.json
